body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  // min-height: 100vh;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.error {
  color: rgb(255, 35, 35);
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  z-index: -1;
  line-height: 1;
  font-size: 12px;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  top: 50%;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.tabs-enter-active,
.tabs-leave-active {
  transition: opacity 0.3s ease;
}

.tabs-enter-from,
.tabs-leave-to {
  opacity: 0.5;
}

.panel-enter-active,
.panel-leave-active {
  transition: all 0.3s ease;
}

.panel-enter-from,
.panel-leave-to {
  opacity: 0;
  transform: scaleY(90%);
}
