$black: #000;
$white: #fff;
$grey: #1e1e1e;
$grey-2: #2f2f2f;
$grey-light: #797979;
$white-2: #d8e9f9;
$main: #7ea5df83;

$offset-card: 15px;


@mixin Card {
  background-color: $grey;
  border-radius: 20px;
  padding: 15px 20px;
  overflow: hidden;
}