:root {
  --black: #c8e5ff;
  --black-2: #6d84a7;
  --black-3: #ffffff;
  --black-4: #1d365a;
  --black-5: rgba(0, 0, 0, 0.297);
  --white: #000;
  --grey: #99b9e9;
  --grey-2: #4f4f4f;
  --grey-light: #232323;
  --white-0: rgba(157, 214, 255, 0.43);
  --white-1: rgba(255, 157, 157, 0.43);
  --white-2: #ffffff;
  --white-3: #2f4767;
  --white-4: #334155;
  --white-5: #7792c338;
  --white-6: rgba(255, 218, 124, 0.582);
  --main: #305678;
  --blue: #83c3fc;
  --blue-2: #345b82;
  --blue-3: #84b5fe;
  --blue-4: #6da8e4;
  --focus: #1087dc;
  --modal: #c8e5ff;
  --modal-2: #d6ecff;
  --red-dark: #f87171;
  --red-light: #ef4444;
  --red-100: #aa2424;
  --hover-grey: #828c99;
  --blue-dark: #82a7dd;
  --grey-30: #000000;
  --grey-40: #ffffff;
  --grey-50: #000000;
  --grey-100: #000000;
  --grey-150: #000000;
  --grey-200: #000000;
  --grey-300: #222222;
  --grey-310: #000000;
  --grey-320: #000000;
  --grey-330: #4d4d4d;
  --grey-340: #000000;
  --grey-350: #294b7f;
  --grey-360: #19395d;
  --grey-370: #537aab;
  --grey-380: #d6ecff;
  --grey-390: #a3c1ea;
  --grey-400: #6388c0;
  --grey-500: #6e8bb1;
  --grey-600: #b0ccf7;
  --grey-610: #7e9abeb0;
  --grey-650: #c0d8fc;
  --grey-660: #c6dcfd;
  --grey-700: #b1cbf2;
  --grey-730: #274773;
  --grey-740: #000000;
  --grey-750: transparent;
  --grey-760: #89a6c2;
  --grey-770: #5d7fb3;
  --grey-780: #000000;
  --grey-790: #a6caec;
  --grey-800: #6388c0;
  --grey-850: #bcd6fd;
  --grey-880: #a7c1dd;
  --grey-890: #93bae1;
  --grey-900: #c5dcff;
  --grey-910: #708dae;
  --grey-920: #294b7f;
  --grey-930: #5c80a9;
  --grey-940: #49617898;
  --grey-950: #6e83a2;
  --grey-960: #ffffff;
  --grey-970: #7dafe879;
  --grey-980: #19395d;
  --grey-990: #8eadd3;
  --grey-1000: #afc7eacd;
  --grey-1010: #e1f1ff;
  --grey-1050: #ffffff;
  --grey-1100: #294b7f;
  --grey-1110: #9cb4d8;
  --grey-1150: #d6ecff;
  --grey-1160: #c8e5ff;
  --grey-1170: #ffffff;
  --grey-1180: #294b7f;
  --grey-1190: #8eadd3a8;
  --grey-1200: #d6ecff;

  --aside-gradient: #ebebeb;
  --aside-active: #464646;
  --shadow-img-1: #50678c;
  --shadow-img-2: #566d93;
  --cyanogen: #ffffff;
  --blue-40: color-mix(in srgb, #eff6ff, transparent 5%);
  --blue-50: #e8f3ff;
  --blue-90: #215080;
  --blue-100: #8eb7e1;
  --blue-110: #c5dcff;
  --blue-150: #b0ccf7;
  --blue-160: #294b7f;
  --blue-170: #7ca7dc;
  --blue-200: #005fad;
  --blue-250: #000000;
  --blue-300: #000000;
  --blue-330: #ffffff;
  --blue-340: #316cc5;
  --blue-350: #a4cfff;
  --blue-360: #345b82;
  --blue-370: #294b7f;
  --blue-380: #c5dcff;
  --blue-400: #3584cd;
  --blue-450: #2563eb;
  --blue-500: #3487cb;
  --blue-600: #ffffff;
  --blue-630: #c5dcff;
  --blue-640: #0d2a57;
  --blue-650: #a4cefead;
  --blue-660: #6388c0;
  --blue-670: #7ea5dfdd;
  --blue-700: #c8e5ff;
  --blue-800: #a4cfff;
  --blue-900: #6388c0;
  --yellow: #e6d080;
  --yellow-2: #ff7700;
  --yellow-4: #cb9801;
  --yellow-5: #f4c415;
  --yellow-6: #294b7f;
  --orange: #f16b18;
  --orange-2: #ff7018;
  --orange-3: #f49315;
  --shadow-moon: #242424a1;
  --brightness-moon: 1.3;
  --brightness-phase: 0.8;
  --brightness-btn: 1.1;
  --brightness-rating: 1.1;
  --brightness-range: 0.7;
  --boxshadow--moon: #111314;
  --boxshadow--card: #2d2d2d;
  --font-weight: 500;
  --font-weight-2: 400;
  --pink: #b0ccf7;
  --mask: rgb(0, 0, 0, 0.3);
  --hover-edit: #858ba966;
  --border-edit: transparent;
  --hover-remove: #d272725b;
  --border-remove: transparent;
  --placeholder-filter: #000000;
  --placeholder-filter-2: #ffffff;

  --red-50: #ffffff;
  --red-60: #ffbaba8d;
  --red-110: #ffffff;
  --red-150: #ff7f7f;
  --red-160: #dc2626;
  --red-200: #eb7171;
  --red-300: #dc2626;
  --red-500: #e91e1e;
  --red-600: #e91e1e;
  --red-1000: #ffd9d9;

  --transparent-1: #c8e5ff;
  --transparent-2: #000;
  --transparent-3: #90afe4;
  --transparent-4: #ffffff;
  --transparent-5: #294b7f;
  --transparent-6: #c5dcff;

  --weather-color: #1f394d;
  --weather-back: #64a3cd;
  --nature-color: #13480c;
  --nature-back: #55ab94c3;
  --animals-color: #20394e;
  --animals-back: #789fd7;
  --auto-color: #273564;
  --auto-back: #7e98d5;
  --science-color: #01650c;
  --science-back: #94d6d1;

  --p-tag-danger-color: #b91c1c;
  --p-tag-danger-background: #dd858587;
  --p-tag-success-color: #13480c;
  --p-tag-success-background: #65ae7bbb;
  --p-tag-secondary-color: #3c4858;
  --p-tag-secondary-background: #779dc2d9;
  --p-tag-warn-background: #b4a087d9;
  --p-tag-warn-color: #ad3b0d;

  --opacity-empty: 0.7;
  --brightness-empty: 2.5;

  --action-hover: color-mix(in srgb, var(--grey-100), transparent 80%);
  --options-hover: color-mix(in srgb, var(--grey-800), transparent 80%);
  --picker-hover: color-mix(in srgb, var(--blue-400), transparent 50%);
  --cancel-hover: color-mix(in srgb, var(--blue-150), transparent 20%);
  --message-warn: #fff5d0;
  --yellow-3: #eab308;
  --success-back: color-mix(in srgb, #6fa6fe, transparent 84%);
  --success-back-2: color-mix(in srgb, #eff6ff,transparent 5%);
  --toast-error: color-mix(in srgb, #fef2f2, transparent 5%);
  --message-error: color-mix(in srgb, #ef2f2f, transparent 40%);
  --message-info: color-mix(in srgb, #3b82f6, transparent 30%);

  --skeleton-back: #7791c360;
  --skeleton-text: #3e4f6f36;
  --skeleton-animation: rgba(255, 255, 255, 0.216);

  --switch-slider: #8da1af;
  --switch-slider-disabled-opacity: 0.6;
  --switch-slider-checked-disabled-opacity: 0.7;
}

body.dark {
  --grey-2: #2f2f2f;
  --grey: #1e1e1e;
  --black: #000;
  --black-2: #000;
  --black-3: #000;
  --black-4: #000;
  --black-5: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --grey-light: #797979;
  --white-0: rgba(255,255,255,0.04);
  --white-1: rgba(255,255,255,0.04);
  --white-2: #d8e9f9;
  --white-3: #ffffff;
  --white-4: #ffffff;
  --white-5: #ffffff1a;
  --white-6: rgba(255,255,255,0.04);
  --main: #7ea5df83;
  --blue: #6b99c6;
  --blue-2: #6b99c6;
  --blue-3: #6b99c6;
  --blue-4: #6b99c6;
  --focus: #57a6f5;
  --modal: #18181b;
  --modal-2: #18181b;
  --red-dark: #b91c1c;
  --red-light: #f87171;
  --red-100: #ff7e7e;
  --hover-grey: #27272a;
  --blue-dark: #415573;
  --grey-30: #e4e4e4;
  --grey-40: #b0b0b0;
  --grey-50: #dbdbdb;
  --grey-100: #b6b6b6;
  --grey-150: #c0c0c0;
  --grey-200: #cfcfcf;
  --grey-300: #acacac;
  --grey-310: #636668;
  --grey-320: #a5a5ab;
  --grey-330: #979797;
  --grey-340: #858585;
  --grey-350: #7d7d7d;
  --grey-360: #7d7d7d;
  --grey-370: #7d7d7d;
  --grey-380: #4d4d4d;
  --grey-390: #424242;
  --grey-400: #474747;
  --grey-500: #464646;
  --grey-600: #404040;
  --grey-610: #404040b0;
  --grey-650: #525252;
  --grey-660: #5d5d5d;
  --grey-700: #282b31;
  --grey-730: #52525b;
  --grey-740: #52525b;
  --grey-750: #3f3f46;
  --grey-760: #3f3f46;
  --grey-770: #3f3f46;
  --grey-780: #353535;
  --grey-790: #3f3f46;
  --grey-800: #2d2d2d;
  --grey-850: #2d2d2d;
  --grey-880: #333333;
  --grey-890: #333333;
  --grey-900: #333333;
  --grey-910: #333333;
  --grey-920: #27272a;
  --grey-930: #27272a;
  --grey-940: #27272a;
  --grey-950: #1a1a1a;
  --grey-960: #09090b;
  --grey-970: #27272a;
  --grey-980: #27272a;
  --grey-990: #1e1e1e;
  --grey-1000: #18181b;
  --grey-1010: #27272a;
  --grey-1050: #18181b;
  --grey-1100: #18181b;
  --grey-1110: #18181b;
  --grey-1150: #09090b;
  --grey-1160: #1e1e1e;
  --grey-1170: #1e1e1e;
  --grey-1180: #1e1e1e;
  --grey-1190: #1e1e1e;
  --grey-1200: #242424;

  --aside-gradient: #c7c7c7a4;
  --aside-active: #1e1e1e;
  --shadow-img-1: transparent;
  --shadow-img-2: transparent;
  --cyanogen: #87e8fa;
  --blue-40: #6b98c65d;
  --blue-50: rgba(14, 164, 233, 0.253);
  --blue-90: #7ca9d5;
  --blue-100: #6b99c6;
  --blue-110: #6b99c6;
  --blue-150: #6b99c6;
  --blue-160: #6b99c6;
  --blue-170: #aacdff;
  --blue-200: #90ccfc;
  --blue-250: #90ccfc;
  --blue-300: #90d3ff;
  --blue-330: #8cc1f7;
  --blue-340: #87c0f9;
  --blue-350: #7b9dcf;
  --blue-360: #7b9dcf;
  --blue-370: #7b9dcf;
  --blue-380: #7b9dcf;
  --blue-400: #68a2ff;
  --blue-450: #53a9ff;
  --blue-500: #427ba9;
  --blue-600: #6ea5dc;
  --blue-630: #7ea5df83;
  --blue-640: #7ea5df83;
  --blue-650: #7ea5df83;
  --blue-660: #7ea5df83;
  --blue-670: #7ea5df4f;
  --blue-700: #102847;
  --blue-800: #0b1a38;
  --blue-900: #323e52;
  --yellow: #b7a358;
  --yellow-2: #ffd900;
  --yellow-4: #eab308;
  --yellow-5: #d6b026;
  --yellow-6: #ffad3a;
  --orange: #e76a1d;
  --orange-2: #ff873d;
  --orange-3: #ff8419;
  --shadow-moon: #242424c2;
  --brightness-moon: 1;
  --brightness-phase: 1;
  --brightness-btn: 1;
  --brightness-rating: 1.3;
  --brightness-range: 0.5;
  --boxshadow--moon: #c9f4ff5b;
  --boxshadow--card: #ffffff89;
  --font-weight: 400;
  --font-weight-2: 500;
  --pink: #af6bc6;
  --mask: rgb(0, 0, 0, 0.6);
  --hover-edit: #3d404e66;
  --border-edit: #3d404e;
  --hover-remove: #4d262673;
  --border-remove: #af1313;
  --placeholder-filter: #a1a1aa;
  --placeholder-filter-2: #a1a1aa;

  --red-50: #f44b4b1d;
  --red-60: #bb3b3b3b;
  --red-110: #ffc9c933;
  --red-150: #ffa3a3;
  --red-160: #ff7f7f;
  --red-200: #fd9696;
  --red-300: #ef4444;
  --red-500: #b80202;
  --red-600: #920000;
  --red-1000: #110000;

  --transparent-1: transparent;
  --transparent-2: transparent;
  --transparent-3: transparent;
  --transparent-4: transparent;
  --transparent-5: transparent;
  --transparent-6: transparent;

  --weather-color: #77c9f1;
  --weather-back: #162e3c;
  --nature-color: #77b56f;
  --nature-back: #16352c;
  --animals-color: #77a4c9;
  --animals-back: #163547;
  --auto-color: #778ac9;
  --auto-back: #16274e;
  --science-color: #77c981;
  --science-back: #16392c;

  --p-tag-danger-color: #fca5a5;
  --p-tag-danger-background: color-mix(in srgb, #ef4444, transparent 84%);
  --p-tag-success-color: #86efac;
  --p-tag-success-background: color-mix(in srgb, #22c55e, transparent 84%);
  --p-tag-secondary-color: #d4d4d8;
  --p-tag-secondary-background: #27272a;
  --p-tag-warn-background: color-mix(in srgb, #f97316, transparent 84%);
  --p-tag-warn-color: #fdba74;

  --opacity-empty: 1;
  --brightness-empty: 1;

  --action-hover: color-mix(in srgb, var(--grey-100), transparent 80%);
  --options-hover: color-mix(in srgb, var(--grey-300), transparent 80%);
  --picker-hover: color-mix(in srgb, var(--blue-200), transparent 10%);
  --cancel-hover: color-mix(in srgb, var(--grey-300), transparent 80%);
  --message-warn: color-mix(in srgb, var(--yellow-4), transparent 84%);
  --yellow-3: color-mix(in srgb, #a16207, transparent 64%);
  --success-back: color-mix(in srgb, #3b82f6, transparent 84%);
  --success-back-2: color-mix(in srgb, #3b82f6, transparent 84%);
  --toast-error: color-mix(in srgb, #ef4444, transparent 84%);
  --message-error: color-mix(in srgb, #b91c1c, transparent 64%);
  --message-info: color-mix(in srgb, #1d4ed8, transparent 64%);

  --skeleton-back: #ffffff10;
  --skeleton-text: #ffffff0f;
  --skeleton-animation: rgba(255,255,255,0.04);

  --switch-slider: #585858;
  --switch-slider-disabled-opacity: 0.6;
  --switch-slider-checked-disabled-opacity: 0.7;
}

$offset-card: 15px;

@mixin Card {
  background-color: var(--grey);
  border-radius: 20px;
  padding: 15px 20px;
  overflow: hidden;
}

@mixin TextOverflow($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin Scroll($height, $width, $colorTrack, $colorThumb) {
  &::-webkit-scrollbar {
    height: $height;
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background: $colorTrack;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $colorThumb; /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    // border: 1px solid #7d7d7d;
  }
}

@mixin Invalid() {
  border: 1px solid #ff6b6b;
  box-shadow: 0 0 7px #ff6b6b;
}

@mixin Focus() {
  border-color: var(--blue-2);
  box-shadow: 0 0 5px var(--blue-2);
}
