@include Auth();

.auth {
    @include Card();
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, var(--blue-640) 0%, var(--grey-1190) 80%);
}
.auth__content {
    @include Card();
    padding: 30px 25px;
    width: 450px;
    background-color: var(--grey-1110);
    box-shadow: 0 0 15px #000000ca;
}
.auth-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 25px;
}
.auth__input-label {
    display: block;
    position: relative;
    z-index: 0;
    & + & {
        margin-top: 15px;
    }
}
.auth__inputgroup {
    height: 40px;
}

.auth__input-icon {
    background-color: var(--grey-920);
    color: var(--placeholder-filter-2);
}

.auth__input-clear {
    padding: 7px;
    border-color: #3f3f46;
    border-left: none;
    background-color: var(--grey-920);
    color: var(--placeholder-filter-2);
}

.auth__input-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.auth-line {
    font-size: 13px;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
    margin: 10px 0;

    span {
        padding: 0 7px;
        font-weight: 500;
        width: min-content;
        background-color: var(--grey-1110);
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        // transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #686868;
        z-index: -1;
    }
}
.auth__redirect {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
}
.auth__redirect-link {
    color: var(--blue-2);
    font-weight: 500;
}
.auth-btn {
    background-color: var(--blue-2);
    border-radius: 5px;
    width: 100%;
    color: var(--black-3);
    margin-top: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: filter 0.3s;

    &:not(:disabled):hover {
        filter: brightness(1.2);
    }
    &:disabled {
        filter: brightness(0.8);
        cursor: default;
    }
}
.auth-btn-more {
    width: 100%;
    background-color: var(--grey-1010);
    color: var(--white);
    border: none;
    height: 40px;
    font-size: 14px;
    transition: filter 0.3s;

    &:hover {
        filter: brightness(var(--brightness-rating));
    }
}

// password dropdown
.auth__meter-title {
    margin-bottom: 10px;
    font-weight: 500;
}
.auth__meter-list {
    padding-left: 1rem;
}
.auth__meter-item {
    list-style-type: disc;
}

// transition / validation
.auth-error-text {
    bottom: -13px;
    font-weight: 500;
}
.auth-enter-active,
.auth-leave-active {
    transition: all 0.3s ease;
}
.auth-enter-from,
.auth-leave-to {
    bottom: 0;
}

// global
::v-deep {
    .auth {
        &-password {
            &-mask-icon {
                z-index: 10;
            }
            &-unmask-icon {
                z-index: 10;
            }
        }

        &-inputtext {
            font-size: 14px;
            background-color: var(--grey-960);
            color: var(--white);

            &::placeholder{
                color: var(--placeholder-filter);
            }

            &:enabled:focus {
                @include Focus();
            }
            &.p-invalid {
                @include Invalid();
            }
        }

        &-message {
            overflow: hidden;
            margin-bottom: 20px;
            color: var(--yellow-4);
            background-color: var(--message-warn);
            outline-color: var(--yellow-3);
            &-content {
                border-left: 4px solid var(--orange-3);
                padding-top: 15px;
                padding-bottom: 15px;
            }
            &-text {
                display: flex;
                font-size: 14px;
                align-items: center;
                gap: 10px;
                svg {
                    font-size: 20px;
                    min-width: 40px;
                    color: #fa8117;
                }
                span {
                    width: 100%;
                }
            }
            &-close-button:hover{
                background-color: var(--white-6);
            }
        }
    }
}
